	<div class="modal fs">
		<div class="modal-inner">
			<button style="
width: 30px; height: 30px; border-radius: 15px; font-size: 30px; text-shadow: 0 1px 0 #fff;
			" class="r" data-action="dismiss-modal">&#215;</button>
			<h2>Title</h2>
			<div class="scrollable">
				<p>Description or explanation</p>
				<p>Description or explanation</p>
				<p>Description or explanation</p>
				<p>Description or explanation</p>
				<p>Description or explanation</p>
			</div>
		</div>
	</div>
	<div class="modal"></div>
